.home-page {
    margin-top: 70px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catalog-container{
    margin-top: 50px;
    justify-content: center;
    margin: 35px;
}

.products-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-x: hidden;
}

.home-product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    position: relative;
    width: 250px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-product-card img {
    max-width: 100%;
    height: auto;
}

.home-product-card img:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.home-product-card h3 {
    font-size: 1.2rem;
    margin: 0;
    color: #333;
}

.home-product-card p {
    font-size: 1rem;
    color: #777;
    margin: 10px 0;
}

.slider-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.slider-controls button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}