.body-cards {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    margin-top: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    margin-bottom: 170px;
}


.category-filter {
    margin-top: 85px;
    margin-bottom: -70px;
    margin-left: 517px;
}

.filter-text {
    color: #0563af;
    font-weight: 600;
}

.box select {
    background-color: #0563af;
    color: white;
    padding: 5px;
    width: 100px;
    border: none;
    font-size: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
    padding: 30px;
}