.filter-section {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.products-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.category-filter {
    margin-top: 20px;
}

.body-cards {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-box {
    margin-right: 10px;
}

.filter-text {
    color: #144981;
    font-weight: 600;
}

.filter-box select {
    background-color: #144981;
    color: white;
    padding: 5px;
    width: 60px;
    border: none;
    font-size: 12px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.filter-box select option {
    padding: 10px;
}