.slide-box{
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.slide-images{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.slick-prev:before{
    color: #144981;
}

.slick-next:before{
    color: #144981;
}