.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    position: relative;
    width: 250px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wishlist-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    color: #144981;
    cursor: pointer;
    font-size: 24px;
}

.wishlist-button :hover {
    transform: translateY(-2px);
}

.wishlist-button.filled {
    color: red;
}

.product-card img {
    height: 240px;
    width: 240px;
    object-fit: cover;
}

.product-card img:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.product-card h2 {
    font-size: 1.2rem;
    margin: 0;
    color: #333;
}

.product-card p {
    font-size: 1rem;
    color: #777;
    margin: 10px 0;
}

.product-card button {
    background-color: #144981;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.product-card button:hover {
    background-color: #0056b3;
}