.signin {
    width: 300px;
    background: #144981;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}

.signin .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
}

.signin .content h2 {
    font-size: 2em;
    color: white;
    text-transform: uppercase;
}

.signin .content .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signin .content .form .inputBox {
    position: relative;
    width: 100%;
    display: flex;
}

.signin .content .form .inputBox input {
    position: relative;
    width: 100%;
    background: #5f83aa;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 4px;
    color: #144981;
    font-weight: 500;
    font-size: 1em;
}

.signin .content .form .inputBox i {
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: #144981;
    transition: 0.5s;
    pointer-events: none;
}

.signin .content .form .inputBox input:focus~i,
.signin .content .form .inputBox input:valid~i {
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: #144981;
}

.signin .content .form .links {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.signin .content .form .links a {
    color: #144981;
    text-decoration: none;
}

.signin .content .form .links a:nth-child(2) {
    color: white;
    font-weight: 600;
}

.signin .content .form .inputBox input[type="submit"] {
    padding: 10px;
    border: 5px #144981 solid;
    background: #5f83aa;
    color: white;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.signin .content .form .inputBox input[type="submit"]:hover {
    border-color: white;
    background: #144981;
    color: white;
}

input[type="submit"]:active {
    opacity: 0.6;
}

@media (max-width: 900px) {
    span {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}

@media (max-width: 600px) {
    span {
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
}

.register-text{
    color: white;
}

.register-text a{
    color: darkgray;
    font-weight: 600;
}