.cart-body {
  margin-top: 100px;
  margin-bottom: 180px;
}

.cart-container {
  z-index: 999;
  padding: 20px;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.cart-item-quantity button {
  background-color: #007bff;
  /* Change the background color to your preference */
  color: #fff;
  /* Text color */
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 10px;
  cursor: pointer;
  margin: 0 5px;
}

.quantity-buttons {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.cart-item-quantity button:hover {
  background-color: #0056b3;
  /* Change the hover background color */
}

/* Style the quantity number */
.cart-item-quantity span {
  font-size: 20px;
  font-weight: bold;
  margin: 0 5px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  background: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.cart-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.cart-item img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-name {
  font-size: 18px;
  color: #333;
}

.cart-item-description {
  font-size: 16px;
  color: #666;
}

.cart-item-price {
  font-size: 16px;
  color: #333;
}

.cart-item-remove-button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

.total-amount {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.empty-cart-message {
  text-align: center;
  font-size: 18px;
  color: #888;
}

/* Style the "Checkout" button if needed */
.checkout-button {
  background: linear-gradient(45deg, #4caf50, #2e7d32);
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

.checkout-button:hover {
  background: linear-gradient(45deg, #2e7d32, #4caf50);
}