.cart-body {
  margin-top: 30px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cart-container {
  width: 80%;
  max-width: 1200px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.cart-item-description {
  font-size: 14px;
  color: #555;
}

.cart-item-price {
  font-size: 16px;
  margin-top: 5px;
}

.cart-item-remove-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  color: #999;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.quantity-buttons button {
  border: none;
  background: #f9f9f9;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.quantity-buttons button:hover {
  background: #eee;
}

.total-amount {
  text-align: right;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.checkout-button {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px;
  border: none;
  background-color: #0563af;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-button:hover {
  background-color: #034482;
}
