/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* CSS for Navigation Bar */

.body-navbar{
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1000;
}

.nav-links{
  display: flex;
  margin: 0;
  width: 100%;
  align-items: center;
  background: #144981;
  padding: 20px 15px;
}

.nav-links li{
  list-style: none;
  margin: 0 12px;
}
.nav-links li .nav-buttons{
  position: relative;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}
.nav-links li .nav-buttons:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: white;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li .nav-buttons:hover:before{
  width: 100%;
}
.nav-links li.center .nav-buttons:before{
  left: 50%;
  transform: translateX(-50%);
}
.nav-links li.upward .nav-buttons:before{
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
.nav-links li.upward .nav-buttons:hover:before{
  bottom: 0px;
  opacity: 1;
}
.nav-links li.forward .nav-buttons:before{
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}
.nav-links li.forward .nav-buttons:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}

.left-buttons{
  display: flex;
  flex-direction: row;
}

.right-buttons{
  margin-left: 950px;
  display: flex;
  flex-direction: row;
}

.cart-dot {
  background-color: #ff6347;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: -8px;
  right: -10px;
  left: 12px;
  bottom: 15px;
  padding: 0.2rem;
}

.wishlist-dot {
  background-color: #ff6347;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: -8px;
  right: -10px;
  left: 12px;
  bottom: 15px;
  padding: 0.2rem;
}

/* CSS Style for Home Page*/
.home-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 250px;

}

.home-content {
  position: relative;
  display: flex;
  flex-direction: row;
}

.home-content h2 {
  color: #fff;
  font-size: 10em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.home-content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #007bff;
}

.home-content h2:nth-child(2) {
  color: #007bff;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.body-cards{
  display: flex;
  justify-content: center;
}

.grid-container{
  display: grid;
  margin-top: 80px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  margin-bottom: 170px;

}

/* product-card.css */
.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 250px;
  display: inline-block;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card h2 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
}

.product-card p {
  font-size: 1rem;
  color: #777;
  margin: 10px 0;
}

.product-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.product-card button:hover {
  background-color: #0056b3;
}


/* CSS for Cart.js */
.cart-body{
  margin-top: 100px;
  margin-bottom: 180px;
}


.cart-container {
  z-index: 999;
  padding: 20px;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

/* Add this CSS to your project to style the quantity section in the cart */
/* .cart-item-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.cart-item-quantity button {
  background-color: #007bff; /* Change the background color to your preference */
  color: #fff; /* Text color */
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 10px;
  cursor: pointer;
  margin: 0 5px;
}

.quantity-buttons{
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
.cart-item-quantity button:hover {
  background-color: #0056b3; /* Change the hover background color */
}

/* Style the quantity number */
.cart-item-quantity span {
  font-size: 20px;
  font-weight: bold;
  margin: 0 5px;
}


h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  background: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.cart-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.cart-item img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-name {
  font-size: 18px;
  color: #333;
}

.cart-item-description {
  font-size: 16px;
  color: #666;
}

.cart-item-price {
  font-size: 16px;
  color: #333;
}

.cart-item-remove-button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

.total-amount {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.empty-cart-message {
  text-align: center;
  font-size: 18px;
  color: #888;
}

/* Style the "Checkout" button if needed */
.checkout-button {
  background: linear-gradient(45deg, #4caf50, #2e7d32);
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

.checkout-button:hover {
  background: linear-gradient(45deg, #2e7d32, #4caf50);
}

/* CSS for Wishlist.js */
.wishlist-body{
  margin-top: 100px;
  margin-bottom: 200px;
}

.wishlist-container {
  padding: 20px;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  z-index: 999;
}

.wishlist-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.wishlist-items {
  display: flex;
  flex-direction: column;
}

.wishlist-item {
  display: flex;
  align-items: center;
  padding: 15px;
  background: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  margin-bottom: 20px;
}

.wishlist-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.wishlist-item-image {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}

.wishlist-item-details {
  flex-grow: 1;
}

.wishlist-item-name {
  font-size: 18px;
  color: #333;
}

.wishlist-item-description {
  font-size: 16px;
  color: #666;
}

.wishlist-item-price {
  font-size: 16px;
  color: #333;
}

.wishlist-item-remove-button {
  background: linear-gradient(45deg, #ff6347, #e9382c);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.empty-wishlist-message {
  text-align: center;
  font-size: 18px;
  color: #888;
}

.gg-remove {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 22px
 }
 
 .gg-remove::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px
 } 

 /* CSS for ProductDescriptionModal.js */
.body-details{
  bottom: 100px;
}

.product-modal {
  position: fixed;
  top: 0px;
  margin-top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Ensure it's displayed on top */
}

.product-modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  text-align: left;
}

.product-modal-content img{
  margin-left: 200px;
  margin-right: 200px;
  width: 140px;
  height: 140px;
}

.product-modal button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

/* ProductPage.css */
.page-body{
  margin-top: 100px;
  margin-bottom: 200px;
}

.product-page {
  display: flex;
  margin: 20px;
}

.product-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.thumbnail-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail {
  cursor: pointer;
  margin-bottom: 10px;
  transition: opacity 0.3s;
}

.thumbnail img {
  max-width: 85px;
  height: auto;
}

.thumbnail.selected {
  border: 2px solid #007bff;
}

.main-image img {
  max-width: 100%;
  height: auto;
}

.main-image {
  max-width: 100%;
  margin-left: 10px;
  height: auto;
}

.thumbnail:hover {
  opacity: 0.7;
}

.product-details {
  flex: 2;
  padding: 20px;
}

.product-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-details p {
  font-size: 16px;
  margin-bottom: 10px;
}

.add-to-cart-button,
.add-to-wishlist-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.add-to-wishlist-button {
  background-color: #28a745;
}

/* Style for the "Back to Products" link */
.product-details a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

/* Footer.css */

.site-footer {
  background-color: #144981;
  color: #fff;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0px;
}

.footer-section {
  flex: 1;
  margin: 0 10px;
}

.footer-section h2 {
  font-size: 12px;
  margin-bottom: 0px;
  color: white;
}

.footer-section p {
  font-size: 10px;
  margin: 0;
  margin-top: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin: 0px 0;
}

.footer-section a {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #007bff;
}

.footer-bottom {
  text-align: center;
  background-color: #0b2949;
  padding: 0px 0;
}

.footer-bottom p {
  font-size: 10px;
  margin: 0;
}
