.content-body {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 100px;
    min-height: 64vh;
    overflow-x: hidden;
}

.App {
    overflow-x: hidden;
}