.register-container {
    display: flex;
    justify-content: center;
    margin: 82px;
    margin-bottom: 200px;
}

.signup {
    width: 600px;
    background: #144981;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}

.signup .reg-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup .reg-content h2 {
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
}

.signup .reg-content .reg-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    gap: 10px;
}

.signup .reg-content .reg-form .reg-input {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup .reg-content .reg-form .reg-input input {
    position: relative;
    width: 80%;
    background: #5f83aa;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 4px;
    color: #144981;
    font-weight: 500;
    font-size: 1em;
}

.signup .reg-content .reg-form .reg-input i {
    position: absolute;
    left: 0;
    padding: 15px 28px;
    font-style: normal;
    color: #144981;
    transition: 0.5s;
    pointer-events: none;
}

.signup .reg-content .reg-form .reg-input input:focus~i,
.signup .reg-content .reg-form .reg-input input:valid~i {
    transform: translateY(-7.5px);
    font-size: 0.5em;
    color: #144981;
}

.signup .reg-content .reg-form .links {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.signup .reg-content .reg-form .links a {
    color: #144981;
    text-decoration: none;
}

.signup .reg-content .reg-form .links a:nth-child(2) {
    color: white;
    font-weight: 600;
}

.signup .reg-content .reg-form .reg-input input[type="submit"] {
    padding: 10px;
    border: 5px #144981 solid;
    background: #5f83aa;
    color: white;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.signup .reg-content .reg-form .reg-input input[type="submit"]:hover {
    border-color: white;
    background: #144981;
    color: white;
}

input[type="submit"]:active {
    opacity: 0.6;
}

@media (max-width: 900px) {
    span {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}

@media (max-width: 600px) {
    span {
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
}

.login-text {
    color: white;
}

.login-text a {
    color: darkgray;
    font-weight: 600;
}

.reg-input-register {
    margin-top: 10px;
    position: relative;
    width: 20%;
    display: flex;
}

.reg-input-register input {
    position: relative;
    width: 100%;
    background: #5f83aa;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 4px;
    color: #144981;
    font-weight: 500;
    font-size: 1em;
}

.reg-input-register input[type="submit"] {
    padding: 10px;
    border: 5px #144981 solid;
    background: #5f83aa;
    color: white;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.reg-input-register input[type="submit"]:hover {
    border-color: white;
    background: #144981;
    color: white;
}

input[type="submit"]:active {
    opacity: 0.6;
}